.flipCard {
  perspective: 1200px;
}

.flipInner {
  position: relative;
  width: 100%;
  height: 280px;
  transition: transform 0.7s ease;
  transform-style: preserve-3d;
}

.flipCard:hover .flipInner {
  transform: rotateX(180deg);
}

.flipFront,
.flipBack {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 1rem;
  overflow: hidden;
}

.flipBack {
  transform: rotateX(180deg);
}
